

<!--====== Header part start ======-->
<header class="sticky-header">
	<div class="container-fluid">
		<div class="d-flex align-items-center justify-content-between">
			<div class="site-logo">
				<a href="index.html"><img src="assets/img/logo.png" alt="Genial"></a>
			</div>
			<div class="header-right">
				<div class="search-area">
					<a href="javascript:void(0)" class="search-btn"><i class="fas fa-search"></i></a>
					<div class="search-form">
						<a href="#" class="search-close"><i class="fal fa-times"></i></a>
						<form action="#">
							<input type="search" placeholder="Type here to search">
						</form>
						<div class="search-overly"></div>
					</div>
				</div>
				<div class="shoping-cart">
					<a href="cart.html" class="shoping-cart-btn">
						<i class="fas fa-shopping-cart"></i>
						<span class="count">2</span>
					</a>
				</div>
				<div class="offcanvas-panel">
					<a href="javascript:void(0)" class="panel-btn">
						<span>
							<span></span>
							<span></span>
							<span></span>
						</span>
					</a>
					<div class="panel-overly"></div>
					<div class="offcanvas-items">
						<!-- Navbar Toggler -->
						<a href="javascript:void(0)" class="panel-close">
							Back <i class="fa fa-angle-right" aria-hidden="true"></i>
						</a>

						<ul class="offcanvas-menu">
							<li>
								<a href="index.html">Home</a>
								<ul class="submenu">
									<li><a href="index.html">Home One</a></li>
									<li><a href="index-2.html">Home Two</a></li>
									<li><a href="index-3.html">Home Three</a></li>
									<li><a href="index-4.html">Home Four</a></li>
								</ul>
							</li>
							<li><a href="blog-details.html">Blog Single</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="photo-stories.html">Photo Stories</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="404.html">404</a></li>
							<li>
								<a href="shop.html">Shop</a>
								<ul class="submenu">
									<li><a href="product-details.html">Shop Details -A</a></li>
									<li><a href="product-details-2.html">Shop Details -B</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="myaccount.html">My account</a></li>
								</ul>
							</li>
						</ul>

						<div class="social-icons">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--====== Header part end ======-->